<h1>Businesses#index</h1>
<div id="map" style="width: 100%; height: 800px;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

<!-- <div class ="search-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 form-inline mt-20 text-center form-group" placeholder="Où souhaitez-vous aller ?">
        <%= form_tag businesses_path, :id => 'search_welcome', method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" , class: "btn btn-primary btn-search" %>
        <% end %>
      </div>
    </div>
  </div>
</div> -->