<div class="container">
  <div class="row">
    <div class="col-xs-12 request-card">
      <div class="">
        <% @perk_requests.each do |perk_request| %>
        <div class="col-xs-12 box-white-request">
          <h3><%= perk_request.perk.title %></h3>
          <h4><%= perk_request.perk.business.name.upcase %></h4>
          <h4><%= perk_request.perk.business.category.title.capitalize %></h4>
          <%= link_to perk_requests_user_path(perk_request_id: perk_request.id), remote: true, method: :post do %>
            <button type="button" class="btn btn-danger">masquez</button>
          <% end %>
          <!-- <div class="col-xs-3 button-hide">
          </div> -->
        </div>
          <%end%>
      </div>
    </div>
  </div>
</div>





<%= content_for(:after_js) do %>
  <script>
  $( "button" ).click(function() {
    $( this ).parent().parent().hide( "slow" );
  });
  </script>
<% end %>