<div class="container">
  <div class="row">
    <div class="mt-30" id="container-recap">
      <div class="col-xs-12">
        <div class="box-recap">
          <div class="col-xs-4 col-xs-offset-1">
            <%= image_tag @perk.business.picture, class: "business-logo"%>
          </div>
          <div class="col-xs-7 pt-10 pl-5">
            <h2><%= @perk.title.upcase %></h4>
            <h4><%= @perk.business.name.capitalize %></h4>
            <p><i class="fa fa-tag"></i> <%=@perk.business.category.title.capitalize%></p>
          </div>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1">
        <h1>Pour bénéficier de ce bon plan :</h1>
        <div class="box-step">
          <p>1. Rendez vous au <%=@perk.business.address %></p>
          <%= link_to "Indique Moi L'itinéraire", "http://maps.google.com/maps", class: "btn btn-danger", id:"link-map", disabled: true, data: { locale: I18n.locale, destination: { latitude: @perk.business.latitude, longitude: @perk.business.longitude } }, :target => "_blank" %>
          <% content_for(:after_js) do %>
            <script type="text/javascript">setRoutePathFromLocation()</script>
          <% end %>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <div class="box-step">
          <p>2. Présentez votre carte de membre :)</p>
            <%= link_to "Accéder A Ma Carte", mycard_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>