<div class="container-fluid">
  <div class="row text-center">
    Filters
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12perk-card">
      <% @perks.each do |perk| %>
        <%= link_to perk_path(perk) do %>
          <div class="row relative bg-image-100" style="background-image: url(<%= image_url "Perk1.png" %>); background-position: center center">
            <div class="row box-shadow-absolute">
              <p class="mt-5"><%= perk.business.name.upcase %></p>
              <div class="row box-color-absolute" style="background-image: url(<%= image_url "colorbar-inverse.png" %>); background-position: center center"></div>
               <div class="index-5">
                <p><%= perk.title.upcase %></p>
              </div>
              <div class="box-shadow"></div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
