<div class="footer">
  <div class="container-fluid">
    <ul class='list-inline'>
      <li>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Home</p>
        <% end %>
      </li>
      <li>
        <%= link_to perks_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Perks</p>
        <% end %>
      </li>
      <li>
        <%= link_to businesses_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Businesses</p>
        <% end %>
      </li>
      <li>
        <%= link_to businesses_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Map</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>