<div class="footer">
  <div class="container-fluid">
    <ul class='list-inline text-center'>
      <li>
        <%= link_to root_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Accueil</p>
        <% end %>
      </li>
      <li>
        <%= link_to perks_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Bons Plans</p>
        <% end %>
      </li>
      <li>
        <%= link_to businesses_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Commerces</p>
        <% end %>
      </li>
      <li>
        <%= link_to businesses_path do %>
          <%= image_tag "footer_icon.png" %>
          <p>Carte</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>