<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Welcome to CFORGOOD</p>
    <% if user_signed_in? %>
      <% if current_user.picture.nil? %>
        <%= image_tag current_user.picture.url(:medium), class: "img-circle" %>
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      <% else %>
        <%= image_tag current_user.picture, class: "img-circle" %>
        <%= current_user.name %>
      <% end %>
    <% end %>
  </div>

  <nav class="sidebar-nav">
    <div class="sidebar-nav-item"><i class="fa fa-home"></i><%= link_to "Accueil", root_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-tag"></i><%= link_to "Bons Plans", perks_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-users"></i><%= link_to "Commerces", businesses_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-star"></i><%= link_to "Mes Favoris", new_user_session_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-cog"></i><%= link_to "Paramètres", new_user_session_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-user-plus"></i><%= link_to "Devenir Partenaire", partner_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-info-circle"></i><%= link_to "A Propos", new_user_session_path %></div>
    <div class="sidebar-nav-item"><i class="fa fa-sign-out"></i><%= link_to destroy_user_session_path, method: :delete do %>
      <%= t ".sign_out", default: "Se Déconnecter" %>
    <% end %></div>
  </nav>

  <div class="sidebar-item">
    <p>
      © CFORFGOOD
    </p>
  </div>
</div>
