<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Welcome to CFORGOOD</p>
    <% if user_signed_in? %>
      <% if current_user.picture.nil? %>
        <%= image_tag current_user.picture.url(:medium), class: "img-circle" %>
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      <% else %>
        <%= image_tag current_user.picture, class: "img-circle" %>
        <%= current_user.name %>
      <% end %>
    <% end %>
  </div>

  <nav class="sidebar-nav">
    <div class="sidebar-nav-item"><%= link_to t(".sign_up", default: "Home"), new_user_registration_path %></div>
    <div class="sidebar-nav-item"><%= link_to "Perks", new_user_session_path %></div>
    <div class="sidebar-nav-item"><%= link_to "Businesses", new_user_session_path %></div>
    <div class="sidebar-nav-item"><%= link_to "My Favorite Perks", new_user_session_path %></div>
    <div class="sidebar-nav-item"><%= link_to "About", new_user_session_path %></div>
    <div class="sidebar-nav-item"><%= link_to "Parameters", new_user_session_path %></div>
    <div class="sidebar-nav-item"><%= link_to "Become A Partner", new_user_session_path %></div>
    <div class="sidebar-nav-item"><%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>
      <%= t ".sign_out", default: "Sign out" %>
    <% end %></div>

    <span class="sidebar-nav-item">Moins important</span>
  </nav>

  <div class="sidebar-item">
    <p>
      © CFORFGOOD
    </p>
  </div>
</div>
