<div id="wrapper">
  <div class="container-fluid">
    <div class="row text-center">
      <h4>Découvrez les bons plans à l'affiche</h4>
      <div class="col-xs-12 your-class">
        <% @perks.each do |perk| %>
          <%= link_to perk_path(perk) do %>
              <div class="row relative box-white-home" >
                <div class="bg-image-235" style="background-image: url(<%= image_url "Perk1.png" %>); background-position: center center"></div>
                <div class="row" id="box-shadow-home">
                  <p>RESTAURANT</p>
                </div>
                <div class="row" id="info-business">
                  <div class="col-xs-6" id="business-name">
                    <h1><%= perk.business.name.capitalize %></h1>
                  </div>
                  <div class="col-xs-6" id="business-city">
                    <i class="fa fa-map-marker"> <%= perk.business.city.capitalize %></i>
                  </div>
                </div>
                  <div class="row big-box-color-absolute" style="background-image: url(<%= image_url "colorbar.png" %>); background-position: center center">
                    <p><%= perk.title.upcase %></p>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

